:root {
    --main-color: #000;
    --sub-color: #111;
    --text-color: #fff;
    --subText-color: #ff9601;
    --bg-image: linear-gradient(to right, #c02425 0%, #f0cb35 51%, #c02425 100%);
    --sub-menu: #121212;
    --item-width: 276px;
    --wrapper-item: 1380px;
  }
  body {
    /* background-color: #1a1a1a; */
  }
  * {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: inherit;
  }
  html {
    font-size: 62.5%; /*ta có 100% = 16px => 10px=62.5%*/
    line-height: 1.6rem; /*khoảng cach giữa các dòng*/
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  ul {
    list-style: none;
  }
  li{
    list-style: none;
  }
  a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
  }
  a:hover{
    text-decoration: none;
    color: #fff;
  }
  p{
    margin: 0;
    padding: 0;
   }
  h1 {
    margin: 0;
  }